//
//  Release.xcconfig
//  MockNotes
//
//  Created by Raphael Souza on 2019-04-26.
//  Copyright © 2019 Raphael Inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-MockNotes/Pods-MockNotes.Release.xcconfig"

APP_NAME = MockNotes

// Server

BACKEND_URL = https:/$()/5cbc98fffa84180014bdb459.mockapi.io
